body {
background: url(142123654.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.btn {
    background-color: #01A9DB;
    color:white;
    margin-bottom: 3px;
    text-align: center;
    margin-left: 30px;
/**    text-shadow: 0  0.2em 0.4em #000000;**/
}

.Cuadro_de_Botones{
	background-color: #01A9DB;
}
.glyphicon-music{
	margin-right: 6px;
}

.titulo{
	font-family: URW Chancery L;
	font-size: 60px;
	text-align: center;
	text-shadow: 0 0 0.4em #000000, 0 0 0.4em #000000, 0 0 0.4em #000000, 0 0 0.4em #000000;
}

.hr{
	margin-top: -2.9%;
}

.canciones{
	text-align: center;
	color: white;
	margin-left: 29%;
	margin-top: 50px;
}

.ordered{
	color: white;
	background-color: #01A9DB;
	border: #01A9DB;
}

.back{
	color: white;
	background-color: #01A9DB;
	border: #01A9DB;
}

.playcounts{
	color: white;
	background-color: #01A9DB;
	border: #01A9DB;
}

.duration{
	color: white;
	background-color: #01A9DB;
	border: #01A9DB;
}

.del{
	color: white;
	background-color: #01A9DB;
	border: #01A9DB;
}